@model ModelLayer.MainViewModel.CreateUserVM

@{
    ViewBag.Title = "Create User";
}
<!-- START card-->
<div class="card card-default">
    <div class="card-header">User Registration</div>
    <div class="card-body">
        @using (Html.BeginForm("IndicatorLink", "Indicator", FormMethod.Post, new { @class = "form-horizontal" }))
        {

                <div class="form-group row">
                    <label class="col-md-1 col-form-label"></label>
                    <div class="col-md-8 offset-1">
                        <div class="form-row ">
                            <div class="col-lg-8 ">
                                <label class="col-form-label">Project Name *</label>
                                @*@Html.TextBoxFor(model => model.ProjectName, new { @class = "form-control", @placeholder = "Enter Project Name" })
                                @Html.ValidationMessageFor(m => m.ProjectName, "", new { @class = "parsley-required", @id = "spanProjectName" })*@
                            </div>
                            
                        </div>
                        <div class="form-row">
                            <div class="col-lg-8 ">
                                <label for="sel1">Select Batch/Cycle/Cohort</label>
                                @*@Html.DropDownListFor(m => m.Category_ID, new SelectList(Model.comboCategories, "CategoryID", "categoryName"), "Please Select Category", new { @class = "select2 form-control ", @placeholder = "Select Category" })
                                @Html.ValidationMessageFor(m => m.Category_ID, "", new { @class = "parsley-required", @id = "spanCategory_ID" })*@
                            </div>
                            <div class="col-lg-8 ">
                                <label for="sel1">Select Indicator</label>
                                @*@Html.DropDownListFor(m => m.ProjectType_ID, new SelectList(Model.comboProjectTypes, "ProjectTypeID", "ProjectTypeName"), "Please Select Project Type", new { @class = "select2 form-control ", @placeholder = "Select Project Type" })
                                @Html.ValidationMessageFor(m => m.ProjectType_ID, "", new { @class = "parsley-required", @id = "spanProjectType_ID" })*@
                            </div>
                        </div>
                      
                        <br />
                        <button class="btn btn-primary" type="submit" id="btnSubmit">Link Indicator</button>
                        <!--Popup Msg-->
                        @{
                            if (TempData["Message"] != null)
                            {
                                <div id="divMessage" class="alert alert-success d-inline-flex" role="alert">
                                    <strong>Well done!</strong>You successfully read this important alert message.
                                </div>
                            }
                        }
                    </div>
                </div>
          
        }
    </div>
</div>
<!-- END card-->

