@model ModelLayer.MainViewModel.CreateRoleVM
@{
    ViewBag.Title = "RoleCreateView";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<ModelLayer.MainViewModel.GetAllRoleVM> _LstAllRoles = (List<ModelLayer.MainViewModel.GetAllRoleVM>)ViewBag.LstAllRoles;
}

<!-- START row-->
<div class="row">
    <div class="col-xl-12">
        <!-- START card-->
        <div class="card card-default">
            <div class="card-header">
                <div class="card-title">Add New Indicator</div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    @using (Html.BeginForm("IndicatorCreateView", "Indicator", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <div class="row">
                            <div class="col-lg-12">
                                <label class="col-form-label">Indicator Name </label>
                                @Html.TextBoxFor(m => m.RoleName, new { @class = "form-control", @placeholder = "Please Enter Indicator Name" })
                                @Html.ValidationMessageFor(m => m.RoleName, "", new { @class = "parsley-required" })
                            </div>
                        </div>

                        <br />
                        <div class="required">* Required fields</div>
                       
                        <hr />
                        <div class="float-right">
                            <button class="btn btn-primary" type="submit">Save</button>

                        </div>
                        <br />
                    }
                    <br />
                    <div class="card card-default">
                        <div class="row">
                            <div class="col-lg-12 ">
                                <div class="card">
                                    <div class="card-body">
                                        <table class="table table-striped my-4 w-100  table-hover" id="datatable2">
                                            <thead>
                                                <tr>

                                                    <th>
                                                        ID
                                                    </th>
                                                    <th>
                                                       Indicator Name
                                                    </th>
                                                    
                                                    <th>
                                                        Action
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Start Up</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END card-->
    </div>
</div>



