
@{
    ViewBag.Title = "Issues Create";
}

<!-- START row-->
<div class="row">
    <div class="col-xl-12">
        <form method="post" action="#" data-parsley-validate="" novalidate="">
            <!-- START card-->
            <div class="card card-default">
                <div class="card-header">
                    <div class="card-title">Project Issues Form</div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="sel1">Select Project </label>
                                <select class="form-control" id="sel1">
                                    <option>Durshal1</option>
                                    <option>Durshal2</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <label for="sel1">Select Sub Project</label>
                                <select class="form-control" id="sel1">
                                    <option>Sub project 1</option>
                                    <option>Sub project 2</option>
                                    <option>Sub project 2</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <label for="sel1">Select Cycle/Batch</label>
                                <select class="form-control" id="sel1">
                                    <option>Peshawar</option>
                                    <option>Bannu</option>
                                    <option>Mardan</option>
                                </select>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <label class="col-form-label">Issues Type *</label>
                                <select class="form-control" id="sel1">
                                    <option>Select Issues Type</option>
                                    <option>Issues 1</option>
                                    <option>Issues 2</option>
                                    <option>Issues 3</option>
                                    <option>Issues 4</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <label class="col-form-label">Quarter *</label>
                                <select class="form-control" id="sel1">
                                    <option>Select Quarter</option>
                                    <option>Quarter 1</option>
                                    <option>Quarter 2</option>
                                    <option>Quarter 3</option>
                                    <option>Quarter 4</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <label class="col-form-label">Year *</label>
                                <input class="form-control" id="id-Year" type="date" name="Year" required>
                            </div>
                        </div>

                        <br />
                        <div class="row">

                            <div class="col-lg-6">
                                <label class="col-form-label">Status/ActionTaken *</label>
                                <input class="form-control" id="id-status" type="text" name="status" required placeholder="Enter Status/ActionTaken">
                            </div>
                            <div class="col-lg-6">
                                <label class="col-form-label">Solution/Remarks *</label>
                                <input class="form-control" id="id-Remarks" type="text" name="Remarks" required placeholder="Enter Solution/Remarks ">
                            </div>
                        </div>
                        <br />
                        <div class="required">* Required fields</div>
                        <hr />
                        <div class="float-right">
                            <button class="btn btn-primary" type="submit">Save</button>
                        </div>
                        <br />
                        <br />
                        <div class="card card-default">
                            <div class="row">
                                <div class="col-lg-12 ">
                                    <div class="card">
                                        <div class="card-body">
                                            <table class="table table-striped my-4 w-100 table-responsive table-hover" id="datatable2">
                                                <thead>
                                                    <tr>

                                                        <th>
                                                            ID
                                                        </th>
                                                        <th>
                                                            Project Name
                                                        </th>
                                                        <th>
                                                            Issues Type
                                                        </th>
                                                        <th>
                                                            Quarter
                                                        </th>
                                                        <th>
                                                            Year
                                                        </th>
                                                        <th>
                                                            Action Taken
                                                        </th>
                                                        <th>
                                                            Solution/Remarks
                                                        </th>
                                                        <th>
                                                            Action
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr>
                                                        <td>
                                                            1
                                                        </td>
                                                        <td>
                                                            Durshal
                                                        </td>
                                                        <td>
                                                            Covid 19
                                                        </td>
                                                        <td>
                                                            Q1
                                                        </td>
                                                        <td>
                                                            2021
                                                        </td>
                                                        <td>
                                                            Extend Date
                                                        </td>
                                                        <td>
                                                            Issues Solution
                                                        </td>
                                                        <td>

                                                            @Html.ActionLink("Edit", "Edit", new { }, new { @class = "mb-1 btn btn-warning" })

                                                        </td>

                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                        
                    </div>
            </div>
            <!-- END card-->
        </form>
    </div>
</div>

