@{
    ViewBag.Title = "Admin";
}
<!-- START card-->
<div class="card card-default">
    <div class="card-body">
        <form class="form-horizontal">
            <div class="form-row ">
                <div class="col-lg-3">
                    <label for="sel1">Search By Project Type</label>
                    <input class="select2 form-control" id="txtProjectName" type="text" placeholder="Search By Project Name">
                </div>
                <div class="col-lg-3">
                    <label for="sel1">Search By Policy Pillar</label>
                    <input class="select2 form-control" id="txtProjectType" type="text" placeholder="Search By Project Type">
                </div>
                <div class="col-lg-3">
                    <label for="sel1">Search By Location</label>
                    <input class="select2 form-control" id="txtLocation" type="text" placeholder="Search By Location">

                </div>
                <div class="col-lg-1">
                    <label for="sel1" style="color:transparent">Search</label>
                    <button class="btn btn-primary form-control" type="button" id="btnSearch">Search</button>
                </div>
                <div class="col-lg-1">
                    <label for="sel1" style="color:transparent">Search</label>
                    <button class="btn btn-green form-control" type="submit" id="btnSubmit">Clear</button>
                </div>
            </div>

        </form>
    </div>
</div>
<!-- END card-->
<div class="row">
    <div class="col-xl-3 col-md-6">
        <!-- START card-->
        <div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-primary-dark justify-content-center rounded-left">
                <em class="icon-notebook fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-primary rounded-right">
                <div class="h2 mt-0">240</div>
                <div class="text-uppercase">Completed Project</div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <!-- START card-->
        <div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-yellow-dark justify-content-center rounded-left">
                <em class="icon-target fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-yellow rounded-right">
                <div class="h2 mt-0">
                    700

                </div>
                <div class="text-uppercase">Progress Project</div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-12">
        <!-- START card-->
        <div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-danger-dark justify-content-center rounded-left">
                <em class="icon-close fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-danger rounded-right">
                <div class="h2 mt-0">500</div>
                <div class="text-uppercase">Terminate Project</div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-12">
        <!-- START card-->
        <div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-green-dark justify-content-center rounded-left">
                <em class="icon-chart fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-green rounded-right">
                <div class="h2 mt-0">50M</div>
                <div class="text-uppercase">Expenditure Budget</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-3">
        <div class="card card-default">
            <div class="card-header">
                <div class="px-2 float-right badge badge-danger">5</div>
                <div class="px-2 mr-2 float-right badge badge-success">12</div>
                <div class="card-title">Project List</div>
            </div>
            <!-- START list group-->
            <div class="list-group" data-height="280" data-scrollable="">
                <!-- START list group item-->
                <div class="list-group-item list-group-item-action">
                    <div class="media">
                        <div class="media-body text-truncate">
                            <p class="mb-1">
                                <strong class="text-primary">
                                    <span class="circle bg-success circle-lg text-left"></span>
                                    <span>Durshal</span>
                                </strong>
                            </p>
                            <p class="mb-1 text-sm">Peshawar CIL</p>
                        </div>
                        <div class="ml-auto">
                            <small class="text-muted ml-2">2h</small>
                        </div>
                    </div>
                </div>
                <!-- END list group item-->
                <!-- START list group item-->
                <div class="list-group-item list-group-item-action">
                    <div class="media">
                        <div class="media-body text-truncate">
                            <p class="mb-1">
                                <strong class="text-primary">
                                    <span class="circle bg-success circle-lg text-left"></span>
                                    <span>Y E P</span>
                                </strong>
                            </p>
                            <p class="mb-1 text-sm">Peshawar</p>
                        </div>
                        <div class="ml-auto">
                            <small class="text-muted ml-2">2h</small>
                        </div>
                    </div>
                </div>
                <!-- END list group item-->
                <!-- START list group item-->
                <div class="list-group-item list-group-item-action">
                    <div class="media">
                        <div class="media-body text-truncate">
                            <p class="mb-1">
                                <strong class="text-primary">
                                    <span class="circle bg-success circle-lg text-left"></span>
                                    <span>Durshal</span>
                                </strong>
                            </p>
                            <p class="mb-1 text-sm">Peshawar CIL</p>
                        </div>
                        <div class="ml-auto">
                            <small class="text-muted ml-2">2h</small>
                        </div>
                    </div>
                </div>
                <!-- END list group item-->
                <!-- START list group item-->
                <div class="list-group-item list-group-item-action">
                    <div class="media">
                        <div class="media-body text-truncate">
                            <p class="mb-1">
                                <strong class="text-primary">
                                    <span class="circle bg-success circle-lg text-left"></span>
                                    <span>Durshal</span>
                                </strong>
                            </p>
                            <p class="mb-1 text-sm">Peshawar CIL</p>
                        </div>
                        <div class="ml-auto">
                            <small class="text-muted ml-2">2h</small>
                        </div>
                    </div>
                </div>
                <!-- END list group item-->
                <!-- START list group item-->
                <div class="list-group-item list-group-item-action">
                    <div class="media">
                        <div class="media-body text-truncate">
                            <p class="mb-1">
                                <strong class="text-primary">
                                    <span class="circle bg-danger circle-lg text-left"></span>
                                    <span>Fellowship</span>
                                </strong>
                            </p>
                            <p class="mb-1 text-sm">Mauris eleifend, libero nec cursus lacinia...</p>
                        </div>
                        <div class="ml-auto">
                            <small class="text-muted ml-2">2d</small>
                        </div>
                    </div>
                </div>
                <!-- END list group item-->
            </div>
            <!-- END list group-->

        </div>
    </div>

    <div class="col-xl-3">
        <!-- START loader widget-->
        <div class="card card-default">
            <div class="card-body">
                <a class="text-muted float-right" href="#">
                    <em class="fa fa-arrow-right"></em>
                </a>
                <div class="text-info">OVER ALL PROGRESS %</div>
                <div class="text-center py-4">
                    <div class="easypie-chart easypie-chart-lg" data-easypiechart data-percent="70" data-animate="{&quot;duration&quot;: &quot;800&quot;, &quot;enabled&quot;: &quot;true&quot;}" data-bar-color="#23b7e5" data-track-Color="rgba(200,200,200,0.4)"
                         data-scale-Color="false" data-line-width="10" data-line-cap="round" data-size="145">
                        <span>70%</span>
                    </div>
                </div>
                <div class="text-center" data-sparkline="" data-bar-color="#23b7e5" data-height="30" data-bar-width="5" data-bar-spacing="2" data-values="5,4,8,7,8,5,4,6,5,5,9,4,6,3,4,7,5,4,7"></div>
            </div>
            <div class="card-footer">
                <p class="text-muted">
                    <span class="text-dark h5 text-center">Physical Status</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-3">
        <!-- START loader widget-->
        <div class="card card-default">
            <div class="card-body">
                <a class="text-muted float-right" href="#">
                    <em class="fa fa-arrow-right"></em>
                </a>
                <div class="text-info">OVER ALL % TIME UTILIZED</div>
                <div class="text-center py-4">
                    <div class="easypie-chart easypie-chart-lg" data-easypiechart data-percent="70" data-animate="{&quot;duration&quot;: &quot;800&quot;, &quot;enabled&quot;: &quot;true&quot;}" data-bar-color="#ff902b" data-track-Color="rgba(200,200,200,0.4)"
                         data-scale-Color="false" data-line-width="10" data-line-cap="round" data-size="145">
                        <span>70%</span>
                    </div>
                </div>
                <div class="text-center" data-sparkline="" data-bar-color="#23b7e5" data-height="30" data-bar-width="5" data-bar-spacing="2" data-values="5,4,8,7,8,5,4,6,5,5,9,4,6,3,4,7,5,4,7"></div>
            </div>
            <div class="card-footer">
                <p class="text-muted">
                    <span class="text-dark h5 text-center">Schedule Status</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-3">
        <!-- START loader widget-->
        <div class="card card-default">
            <div class="card-body">
                <a class="text-muted float-right" href="#">
                    <em class="fa fa-arrow-right"></em>
                </a>
                <div class="text-info">OVER ALL % Budget UTILIZED</div>
                <div class="text-center py-4">
                    <div class="easypie-chart easypie-chart-lg" data-easypiechart data-percent="70" data-animate="{&quot;duration&quot;: &quot;800&quot;, &quot;enabled&quot;: &quot;true&quot;}" data-bar-color="#7266ba" data-track-Color="rgba(200,200,200,0.4)"
                         data-scale-Color="false" data-line-width="10" data-line-cap="round" data-size="145">
                        <span>70%</span>
                    </div>
                </div>
                <div class="text-center" data-sparkline="" data-bar-color="#23b7e5" data-height="30" data-bar-width="5" data-bar-spacing="2" data-values="5,4,8,7,8,5,4,6,5,5,9,4,6,3,4,7,5,4,7"></div>
            </div>
            <div class="card-footer">
                <p class="text-muted">
                    <span class="text-dark h5 text-center">Financial  Status</span>
                </p>
            </div>
        </div>
    </div>
</div><div class="row">
    <div class="col-lg-6">
        <div class="card card-default" id="cardChart5">
            <div class="card-header">
                <div class="card-title">Project KPIs</div>
            </div>
            <div class="card-body">
                <div class="chart-pie flot-chart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card card-default" id="cardChart6">
            <div class="card-header">
                <div class="card-title">
                    Insight Indicator 
                </div>
            </div>
            <div class="card-body">
                <div class="chart-donut flot-chart"></div>
            </div>
        </div>
    </div>
</div>
<!-- END row-->

<div class="card" id="cardChart9">
    <div class="card-header">
        <!-- START button group-->
        <div class="float-right btn-group">
            <button class="dropdown-toggle dropdown-toggle-nocaret btn btn-secondary btn-sm" type="button" data-toggle="dropdown">All time</button>
            <div class="dropdown-menu dropdown-menu-right-forced fadeInLeft animated" role="menu">
                <a class="dropdown-item" href="#">Daily</a><a class="dropdown-item" href="#">Monthly</a>
                <div class="dropdown-divider"></div><a class="dropdown-item" href="#">All time</a>
            </div>
        </div>
        <!-- END button group-->
        <div class="card-title">Overall progress</div>
    </div>
    <div class="card-wrapper">
        <div class="card-body">
            <div class="chart-splinev2 flot-chart"></div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3 col-6 text-center">
                    <p>Projects</p>
                    <div class="h1">25</div>
                </div>
                <div class="col-md-3 col-6 text-center">
                    <p>Teammates</p>
                    <div class="h1">85</div>
                </div>
                <div class="col-md-3 col-6 text-center">
                    <p>Hours</p>
                    <div class="h1">380</div>
                </div>
                <div class="col-md-3 col-6 text-center">
                    <p>Budget</p>
                    <div class="h1 text-truncate">$ 10,000.00</div>
                </div>
            </div>
        </div>
    </div>

    <!-- END chart-->
</div>
<div class="row mb-3">
    <div class="col-lg-3 col-6 text-center">
        <p>Current Project</p>
        <div class="text-center py-4">
            <div class="easypie-chart easypie-chart-md" data-easypiechart="" data-percent="60" data-animate="{duration: 800, enabled: true}" data-bar-color="#23b7e5" data-track-Color="#edf2f6" data-scale-Color="false" data-line-width="2" data-line-cap="round"
                 data-size="130">
                <span>60%</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6 text-center">
        <p>Current Progress</p>
        <div class="text-center py-4">
            <div class="easypie-chart easypie-chart-md" data-easypiechart="" data-percent="30" data-animate="{duration: 800, enabled: true}" data-bar-color="#f532e5" data-track-Color="#edf2f6" data-scale-Color="false" data-line-width="2" data-line-cap="round"
                 data-size="130">
                <span>30%</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6 text-center">
        <p>Space Usage</p>
        <div class="text-center py-4">
            <div class="easypie-chart easypie-chart-md" data-easypiechart="" data-percent="50" data-animate="{duration: 800, enabled: true}" data-bar-color="#7266ba" data-track-Color="#edf2f6" data-scale-Color="false" data-line-width="2" data-line-cap="round"
                 data-size="130">
                <span>50%</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6 text-center">
        <p>Interactions</p>
        <div class="text-center py-4">
            <div class="easypie-chart easypie-chart-md" data-easypiechart="" data-percent="75" data-animate="{duration: 800, enabled: true}" data-bar-color="#ff902b" data-track-Color="#edf2f6" data-scale-Color="false" data-line-width="2" data-line-cap="round"
                 data-size="130">
                <span>75%</span>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['Task', 'Hours per Day'],
  ['Work', 8],
  ['Friends', 2],
  ['Eat', 2],
  ['TV', 2],
  ['Gym', 2],
  ['Sleep', 8]
]);

  // Optional; add a title and set the width and height of the chart
  var options = {'title':'My Average Day', 'width':550, 'height':400};

  // Display the chart inside the <div> element with id="piechart"
    var chart = new google.visualization.PieChart(document.getElementById('cardChart5'));
  chart.draw(data, options);
}
</script>