
@{
    ViewBag.Title = "Over All Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<!--Date-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<style>
    .highcharts-figure,
    .highcharts-data-table table {
        min-width: 220px;
        max-width: 400px;
        margin: 1em auto;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #ebebeb;
        margin: 6px auto;
        text-align: center;
        width: 100%;
        max-width: 400px;
    }

    .highcharts-data-table caption {
        padding: 0.5em 0;
        font-size: 1em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td,
    .highcharts-data-table th,
    .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr,
    .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }

    input[type="number"] {
        min-width: 40px;
    }


    .min-hight {
        min-height: 700px;
    }
</style>

<div class="content-heading">
    <!-- START card-->
    <div class="w-auto">
        Select Project Type : 
    </div>
     
        
    <div class="w-75">
        <input class="select2 form-control" id="txtProjectName" type="text" placeholder="Search By Project Name">
    </div>


   
</div>
<div class="row">
    <div class="col-xl-12 col-lg-6">
        <div class="card b">
            <div class="card-header">
                <div class="float-right">
                    <div class="badge badge-info">started</div>
                </div>
                <h4 class="m-0">Project #1</h4>
                <!-- START card-->
                <div class="card">
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col-2">
                                <h3 class="m-0">
                                </h3>
                                <p class="m-0 bg-warning">Stakeholder</p>
                            </div>
                            <div class="col-2">
                                <h3 class="m-0">
                                </h3>
                                <p class="m-0 bg-warning">Active Issues</p>
                            </div>
                            <div class="col-2">
                                <h3 class="m-0">
                                </h3>
                                <p class="m-0 bg-warning">Active Risks</p>
                            </div>
                            <div class="col-2">
                                <h3 class="m-0">
                                </h3>
                                <p class="m-0 bg-warning">Planned HR</p>
                            </div>
                            <div class="col-2">
                                <h3 class="m-0">
                                </h3>
                                <p class="m-0 bg-warning">Recruited HR</p>
                            </div>
                            <div class="col-2">
                                <h3 class="m-0">
                                </h3>
                                <p class="m-0 bg-warning">Founding Source</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END card-->
            </div>

            <div class="row m-2">
                <div class="col-xl-3">
                    <div class="card b min-hight">
                        <div class="card-header">
                            <h4 class="m-0">Project KPIs</h4>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <td class="col-md-8">
                                        <strong>KPIs Name</strong>
                                    </td>
                                    <td class="col-md-8">
                                        <strong>Target</strong>
                                    </td>
                                    <td class="col-md-8">
                                        <strong>Achieved</strong>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>
                                        Trainee
                                    </td>

                                    <td>
                                        400
                                    </td>
                                    <td>
                                        300
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <figure class="highcharts-figure w-100">
                            <div id="ProjectKPIs"></div>
                        </figure>

                    </div>

                </div>
                <div class="col-xl-3">
                    <div class="card b min-hight">
                        <div class="card-header">
                            <h4 class="m-0">Impact Indicator</h4>
                        </div>

                        <table class="table">
                            <thead>
                                <tr>
                                    <td class="col-md-8">
                                        <strong>Descrition</strong>
                                    </td>
                                    <td class="col-md-8">
                                        <strong>Value</strong>
                                    </td>

                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>
                                        Total Start upt
                                    </td>

                                    <td>
                                        20
                                    </td>

                                </tr>


                            </tbody>
                        </table>

                        <figure class="highcharts-figure w-100">
                            <div id="ImpactIndicator"></div>
                        </figure>
                    </div>

                </div>
                <div class="col-xl3">
                    <div class="card b min-hight">
                        <div class="card-header">
                            <h4 class="m-0">Financial Details</h4>
                        </div>

                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="col-md-8">
                                        <strong>Planned Budget</strong>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-8">
                                        <strong>Allocated Budget</strong>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-8">
                                        <strong>Expenditure Budget</strong>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-8">
                                        <strong>Remaining Budget</strong>
                                    </td>
                                    <td>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <figure class="highcharts-figure w-100">
                            <div id="finance"></div>
                        </figure>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="card b">
                        <div class="card-header">
                            <h4 class="m-0">Project Schedule</h4>
                        </div>

                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="col-md-7">
                                        <strong>Planned Start Date</strong>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-7">
                                        <strong>Actual Start Date</strong>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-7">
                                        <strong>End Date</strong>
                                    </td>
                                    <td>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                        <div id="timeline" style="height: 180px;"></div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- START card-->
                    <div class="card card-default card-demo" id="cardDemo3">
                        <div class="card-header">
                            Project Issues
                            <a class="float-right" href="#" data-tool="card-dismiss" data-toggle="tooltip" title="Close Card">
                                <em class="fa fa-times"></em>
                            </a>
                            <a class="float-right" href="#" data-tool="card-collapse" data-toggle="tooltip" title="Collapse Card">
                                <em class="fa fa-plus"></em>
                            </a>
                        </div>
                        <!-- .card-wrapper is the element to be collapsed-->
                        <div class="card-wrapper collapse">
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td>
                                                Issue Description
                                            </td>
                                            <td>
                                                Issue Date
                                            </td>
                                            <td>
                                                Action Taken
                                            </td>
                                            <td>
                                                Solution/Remarks
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                    <!-- END card-->
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //Project KPIs
    Highcharts.chart('ProjectKPIs', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Project KPIs %'
        },
        subtitle: {
            text: ''
        },
        accessibility: {
            announceNewData: {
                enabled: true
            }
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Total percent market share'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}%'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
        },

        series: [
            {
                name: "Browsers",
                colorByPoint: true,
                data: [
                    {
                        name: "Chrome",
                        y: 62.74,
                        drilldown: "Chrome"
                    },
                    {
                        name: "Firefox",
                        y: 10.57,
                        drilldown: "Firefox"
                    },
                    {
                        name: "Internet Explorer",
                        y: 7.23,
                        drilldown: "Internet Explorer"
                    },
                    {
                        name: "Safari",
                        y: 5.58,
                        drilldown: "Safari"
                    },
                    {
                        name: "Edge",
                        y: 4.02,
                        drilldown: "Edge"
                    },
                    {
                        name: "Opera",
                        y: 1.92,
                        drilldown: "Opera"
                    },
                    {
                        name: "Other",
                        y: 7.62,
                        drilldown: null
                    }
                ]
            }
        ],
        drilldown: {
            breadcrumbs: {
                position: {
                    align: 'right'
                }
            },
            series: [
                {
                    name: "Chrome",
                    id: "Chrome",
                    data: [
                        [
                            "v65.0",
                            0.1
                        ],
                        [
                            "v64.0",
                            1.3
                        ],
                        [
                            "v63.0",
                            53.02
                        ],
                        [
                            "v62.0",
                            1.4
                        ],
                        [
                            "v61.0",
                            0.88
                        ],
                        [
                            "v60.0",
                            0.56
                        ],
                        [
                            "v59.0",
                            0.45
                        ],
                        [
                            "v58.0",
                            0.49
                        ],
                        [
                            "v57.0",
                            0.32
                        ],
                        [
                            "v56.0",
                            0.29
                        ],
                        [
                            "v55.0",
                            0.79
                        ],
                        [
                            "v54.0",
                            0.18
                        ],
                        [
                            "v51.0",
                            0.13
                        ],
                        [
                            "v49.0",
                            2.16
                        ],
                        [
                            "v48.0",
                            0.13
                        ],
                        [
                            "v47.0",
                            0.11
                        ],
                        [
                            "v43.0",
                            0.17
                        ],
                        [
                            "v29.0",
                            0.26
                        ]
                    ]
                },
                {
                    name: "Firefox",
                    id: "Firefox",
                    data: [
                        [
                            "v58.0",
                            1.02
                        ],
                        [
                            "v57.0",
                            7.36
                        ],
                        [
                            "v56.0",
                            0.35
                        ],
                        [
                            "v55.0",
                            0.11
                        ],
                        [
                            "v54.0",
                            0.1
                        ],
                        [
                            "v52.0",
                            0.95
                        ],
                        [
                            "v51.0",
                            0.15
                        ],
                        [
                            "v50.0",
                            0.1
                        ],
                        [
                            "v48.0",
                            0.31
                        ],
                        [
                            "v47.0",
                            0.12
                        ]
                    ]
                },
                {
                    name: "Internet Explorer",
                    id: "Internet Explorer",
                    data: [
                        [
                            "v11.0",
                            6.2
                        ],
                        [
                            "v10.0",
                            0.29
                        ],
                        [
                            "v9.0",
                            0.27
                        ],
                        [
                            "v8.0",
                            0.47
                        ]
                    ]
                },
                {
                    name: "Safari",
                    id: "Safari",
                    data: [
                        [
                            "v11.0",
                            3.39
                        ],
                        [
                            "v10.1",
                            0.96
                        ],
                        [
                            "v10.0",
                            0.36
                        ],
                        [
                            "v9.1",
                            0.54
                        ],
                        [
                            "v9.0",
                            0.13
                        ],
                        [
                            "v5.1",
                            0.2
                        ]
                    ]
                },
                {
                    name: "Edge",
                    id: "Edge",
                    data: [
                        [
                            "v16",
                            2.6
                        ],
                        [
                            "v15",
                            0.92
                        ],
                        [
                            "v14",
                            0.4
                        ],
                        [
                            "v13",
                            0.1
                        ]
                    ]
                },
                {
                    name: "Opera",
                    id: "Opera",
                    data: [
                        [
                            "v50.0",
                            0.96
                        ],
                        [
                            "v49.0",
                            0.82
                        ],
                        [
                            "v12.1",
                            0.14
                        ]
                    ]
                }
            ]
        }
    });
    //Impact Indicator
    Highcharts.chart('ImpactIndicator', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Impact Indicator'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            name: 'Brands',
            colorByPoint: true,
            data: [{
                name: 'Chrome',
                y: 61.41,
                sliced: true,
                selected: true
            }, {
                name: 'Internet Explorer',
                y: 11.84
            }, {
                name: 'Firefox',
                y: 10.85
            }, {
                name: 'Edge',
                y: 4.67
            }, {
                name: 'Safari',
                y: 4.18
            }, {
                name: 'Sogou Explorer',
                y: 1.64
            }, {
                name: 'Opera',
                y: 1.6
            }, {
                name: 'QQ',
                y: 1.2
            }, {
                name: 'Other',
                y: 2.61
            }]
        }]
    });

    //Finanace
   Highcharts.chart('finance', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Budget Utalization'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            name: 'Brands',
            colorByPoint: true,
            data: [{
                name: 'Chrome',
                y: 61.41,
                sliced: true,
                selected: true
            }, {
                name: 'Internet Explorer',
                y: 11.84
            }, {
                name: 'Firefox',
                y: 10.85
            }, {
                name: 'Edge',
                y: 4.67
            }, {
                name: 'Safari',
                y: 4.18
            }, {
                name: 'Sogou Explorer',
                y: 1.64
            }, {
                name: 'Opera',
                y: 1.6
            }, {
                name: 'QQ',
                y: 1.2
            }, {
                name: 'Other',
                y: 2.61
            }]
        }]
    });

  //schedule
    google.charts.load('current', { 'packages': ['timeline'] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var container = document.getElementById('timeline');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();

        dataTable.addColumn({ type: 'string', id: 'President' });
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });
        dataTable.addRows([
            ['planned Date', new Date(2022, 2, 8), new Date(2022, 2, 8)],
            ['Start Date', new Date(2022, 2, 8), new Date(2022, 2, 16)],
            ['End Date', new Date(2022, 2, 16), new Date(2022, 7, 28)]]);

        chart.draw(dataTable);
    }
</script>