@model ModelLayer.MainViewModel
    <!-- Page content-->
    <div class="content-heading">
        <div>
            Project Details
          
        </div>
    </div>
   
    <div class="col-xl-12">
        <!-- Main card-->
        <div class="card b">
            <div class="card-header">
                <div class="float-right mt-2">
                    Project Type:
                    <div class="badge badge-info">ADP</div>
                </div>
                <h4 class="my-2">
                    <span>Project #1</span>
                </h4>
            </div>
            <div class="card-body bb bt">
                <!-- START card-->
                <div class="card">

                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col-2">
                                <h3 class="m-0">400</h3>
                                <p class="m-0 bg-warning">Stakeholder</p>
                            </div>
                            <div class="col-2">
                                <h3 class="m-0">400</h3>
                                <p class="m-0 bg-warning">Active Issues</p>
                            </div>
                            <div class="col-2">
                                <h3 class="m-0">2000</h3>
                                <p class="m-0 bg-warning">Active Risks</p>
                            </div>
                            <div class="col-2">
                                <h3 class="m-0">500</h3>
                                <p class="m-0 bg-warning">Planned HR</p>
                            </div>
                            <div class="col-2">
                                <h3 class="m-0">500</h3>
                                <p class="m-0 bg-warning">Recruited HR</p>
                            </div>
                            <div class="col-2">
                                <h3 class="m-0">3</h3>
                                <p class="m-0 bg-warning">Founding Source</p>
                            </div>


                        </div>
                    </div>
                </div>
                <!-- END card-->
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-4">
                        <!-- START loader widget-->
                        <div class="card card-default">
                            <div class="card-body">
                                <a class="text-muted float-right" href="#">
                                    <em class="fa fa-arrow-right"></em>
                                </a>
                                <div class="text-info">PROGRESS OVERVIEW</div>
                                <div class="text-center py-4">
                                    <div class="easypie-chart easypie-chart-lg" data-easypiechart data-percent="70" data-animate="{&quot;duration&quot;: &quot;800&quot;, &quot;enabled&quot;: &quot;true&quot;}" data-bar-color="#23b7e5" data-track-Color="rgba(200,200,200,0.4)"
                                         data-scale-Color="false" data-line-width="10" data-line-cap="round" data-size="145">
                                        <span>70%</span>
                                    </div>
                                </div>
                                <div class="text-center" data-sparkline="" data-bar-color="#23b7e5" data-height="38" data-bar-width="5" data-bar-spacing="2" data-values="5,4,8,7,8,5,4,6,5,5,9,4,6,3,4,7,5,4,7"></div>
                            </div>
                            <div class="card-footer">
                                <p class="text-muted">
                                    
                                    <span class="h4">Statuse</span>
                                    <span class="text-dark h4">Completed</span>
                                </p>
                            </div>
                        </div>
                        <!-- END loader widget-->
                    </div>
                    <div class="col-xl-4">
                        <div class="card b">
                            <div class="card-header">

                                <h4 class="m-0">Financial Details</h4>

                            </div>
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="w-100" data-toggle="tooltip" data-title="Health">
                                        <div class="progress progress-xs m-0">
                                            <div class="progress-bar bg-warning" style="width:22%;"></div>
                                        </div>
                                    </div>
                                    <div class="wd-xxs text-right">
                                        <div class="text-bold text-muted">22%</div>
                                    </div>
                                </div>
                            </div>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="col-md-8">
                                            <strong>Planned Budget</strong>
                                        </td>
                                        <td>10 M</td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-8">
                                            <strong>Allocated Budget</strong>
                                        </td>
                                        <td>6 M</td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-8">
                                            <strong>Expenditure Budget</strong>
                                        </td>
                                        <td>4 M</td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-8">
                                            <strong>Remaining Budget</strong>
                                        </td>
                                        <td>2 M</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Budget Utalization %</strong>
                                        </td>
                                        <td>
                                            <div class="inline mr-2" data-sparkline="" data-values="20,80" data-type="pie" data-height="30" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#23b7e5&quot;]"></div>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="card b">
                            <div class="card-header">

                                <h4 class="m-0">Project Schedule</h4>

                            </div>
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="w-100" data-toggle="tooltip" data-title="Health">
                                        <div class="progress progress-xs m-0">
                                            <div class="progress-bar bg-warning" style="width:50%;"></div>
                                        </div>
                                    </div>
                                    <div class="wd-xxs text-right">
                                        <div class="text-bold text-muted">50%</div>
                                    </div>
                                </div>
                            </div>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="col-md-7">
                                            <strong>Planned Start Date</strong>
                                        </td>
                                        <td>21/8/2021</td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-7">
                                            <strong>Actual Start Date</strong>
                                        </td>
                                        <td>21/10/2021</td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-7">
                                            <strong>End Date</strong>
                                        </td>
                                        <td>21/04/2022</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <strong>Schedule Utalization %</strong>
                                        </td>
                                        <td>
                                            <div class="inline mr-2" data-sparkline="" data-values="20,80" data-type="pie" data-height="75" data-slice-colors="[&quot;#edf1f2&quot;, &quot;#23b7e5&quot;]"></div>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h4>Description</h4>
                    <p>
                        Nam eget risus tellus. Vestibulum pretium mollis ligula, at ultrices quam egestas et. Sed mattis tincidunt ligula, ac porttitor lectus porttitor condimentum. Ut et ligula ante, nec mollis lacus. Aliquam erat volutpat. Aliquam auctor
                        diam ut urna lacinia faucibus. Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Aenean vehicula, nulla vel pharetra accumsan, elit risus pretium arcu, nec ultrices urna ligula vel nunc. Cras porttitor orci eget
                        nibh pharetra mollis.
                    </p>
                    
                </div>
         
            </div>

            <!-- End Main card-->
            <hr />
            <!-- Team messages-->
            <div class="card-default">
                <div class="card-header h4">
                    Project KPIs
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <p class="lead bb">Start Up</p>
                            <form class="form-horizontal">
                                <div class="form-group row">
                                    <div class="col-md-4">Order ID:</div>
                                    <div class="col-md-8">
                                        <strong>987654</strong>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">Purchased On:</div>
                                    <div class="col-md-8">
                                        <strong>03/11/2015 10:10</strong>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">Client Name:</div>
                                    <div class="col-md-8">
                                        <strong>Addison Nichols</strong>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">Items:</div>
                                    <div class="col-md-8">
                                        <strong>547</strong>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">Amount:</div>
                                    <div class="col-md-8">
                                        <strong>$515.20</strong>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">Shipment:</div>
                                    <div class="col-md-8">
                                        <strong>04/10/2015</strong>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">Status</div>
                                    <div class="col-md-8">
                                        <div class="badge badge-info">Shipped</div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6">
                            <p class="lead bb">Client</p>
                            <form class="form-horizontal">
                                <div class="form-group row">
                                    <div class="col-md-4">Client ID:</div>
                                    <div class="col-md-8">
                                        <strong>#32654</strong>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">Name:</div>
                                    <div class="col-md-8">
                                        <strong>Addison Nichols</strong>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">Email:</div>
                                    <div class="col-md-8">
                                        <strong>addisong@mail.com</strong>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">Company:</div>
                                    <div class="col-md-8">
                                        <strong>Addison co.</strong>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">Phone:</div>
                                    <div class="col-md-8">
                                        <strong>(123) 123 456465</strong>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">Status</div>
                                    <div class="col-md-8">
                                        <div class="badge badge-success">Active</div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- End Team messages-->
                </div>
            </div>



    </div>
    </div>